<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <style>
      body {
        background-image: linear-gradient(to right, #22dd513b 0%, #00f2fe 100%);
      }

      .centered {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto centered">
          <h1>detail</h1>

          <h2>
            <div>Writer : <span>[[ ${board.member_name} ]]</span></div>
            <div>title : <span>[[ ${board.title} ]]</span></div>
            <div>Content : <span>[[ ${board.content} ]]</span></div>
          </h2>
        </div>
      </div>
    </div>
  </body>
</html>
