<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <style>
      body {
        background-image: linear-gradient(to right, #22dd513b 0%, #00f2fe 100%);
      }

      .centered {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto centered">
          <h1 class="mb-4">Join Page</h1>

          <form method="post" onsubmit="return validateForm()">
            <div class="form-group">
              <label for="username">Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                placeholder="Enter username"
                required
              />
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="Enter password"
                required
              />
            </div>

            <div class="form-group">
              <label for="email">Email address</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Enter email"
                required
              />
            </div>

            <button type="submit" class="btn btn-primary btn-block">
              Create Account
            </button>
          </form>
        </div>
      </div>
    </div>

    <script>
      function validateForm() {
        const name = document.getElementById("name").value;
        const password = document.getElementById("password").value;
        const email = document.getElementById("email").value;

        // Check if password is at least 8 characters long and has both uppercase and lowercase letters
        var regex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{8,}$/;
        if (!regex.test(password)) {
          alert(
            "Password must be at least 8 characters long and contain at least one uppercase and one lowercase letter and at least one number."
          );
          return false;
        }

        // Check if all input fields are valid
        if (name !== "" && email !== "" && regex.test(password)) {
          alert("Registered Successfully");
          return true;
        } else {
          return false;
        }
      }
    </script>
  </body>
</html>
