<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <style>
      body {
        background-image: linear-gradient(to right, #22dd513b 0%, #00f2fe 100%);
      }

      .centered {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100vh;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto centered">
          <h2><span>Hello </span><span th:text="${member.name}"></span></h2>
          <h3>How`s Your Day?</h3>

          <label for="message">Enter your message:</label>

          <form action="" method="post">
            <input type="text" name="title" placeholder="Write a Title" />
            <br />
            <br />

            <textarea
              name="content"
              id=""
              cols="30"
              rows="10"
              placeholder="Write Anything"
            ></textarea>
            <br />

            <button class="btn btn-info">post</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
